
body {
  width: 600px;
  margin: 2em auto;
  font-family: Arial;
  font-size: 12px;
}

a {
  color: #e16500;
}

a:hover {
  color: #c95a00;
}

label {
  display: block;
  font-size: 2em;
  font-family: Georgia, serif;
  color: #444;
}

.warning {
  border-top: 2px solid #fc6;
  border-bottom: 2px solid #fc6;
  background-color: #ff9;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 10px;
  margin: 10px 0;
}

.bsmHighlight {
  color: #777;
}

.bsmSelect {
  margin: 1em 0 0.25em 0;
}

#footer, #footer li {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}

#footer {
  border-top: 1px solid #ccc;
  padding-top: 1em;
  margin-top: 2em;
}

.copyright {
  font-size: 10px;
}

.bsmListSortableCustom li {
  cursor: move;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 2px 0;
}

/* custom */


.bsmList-custom {
  /* html list that contains selected items */
  margin: 0.25em 0 0.25em 0;
  display: block;
  padding-left: 0;
  list-style: none;
}

.bsmListItem-custom {
  /* li item from the html list above */
  margin: 0 5px 5px 0;
  padding: 4px;
  list-style: none;
  background: #ddd;
  border: 1px solid #bbb;
  line-height: 1em;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; 
}

.bsmListItem-custom:hover {
  background-color: #e5e5e5;
  box-shadow: 0 0 3px #aaa;
  -webkit-box-shadow: 0 0 3px #aaa;
  -moz-box-shadow: 0 0 3px #aaa;
}

.bsmListItemLabel-custom {
  padding-right: 5px;
}

.bsmListItemRemove-custom {
  text-decoration: none;
}
